@page
@model DisciplinaViewModel

@{
    ViewData["Title"] = "Nova Disciplina";
}


<h1>Nova Disciplina</h1>

<h4>Disciplina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="vDisciplina.Nome" class="control-label"></label>
                <input asp-for="vDisciplina.Nome" class="form-control" />
                <span asp-validation-for="vDisciplina.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vDisciplina.Periodo" class="control-label"></label>
                <input asp-for="vDisciplina.Periodo" class="form-control" />
                <span asp-validation-for="vDisciplina.Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vCategoria.Categoria_Nome" class="control-label"></label>
                <select id="categoria" name="categoria">
                    @foreach (var item in Model.vListCategoria) {
                    <option value=@Html.DisplayFor(modelItem => item.Categoria_Nome)></option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label asp-for="vDisciplina.Dificuldade" class="control-label"></label>
                <input asp-for="vDisciplina.Dificuldade" class="form-control" />
                <span asp-validation-for="vDisciplina.Dificuldade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vDisciplina.Creditos" class="control-label"></label>
                <input asp-for="vDisciplina.Creditos" class="form-control" />
                <span asp-validation-for="vDisciplina.Creditos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vDisciplina.HoraAula" class="control-label"></label>
                <input asp-for="vDisciplina.HoraAula" class="form-control" />
                <span asp-validation-for="vDisciplina.HoraAula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vDisciplina.HoraRelogio" class="control-label"></label>
                <input asp-for="vDisciplina.HoraRelogio" class="form-control" />
                <span asp-validation-for="vDisciplina.HoraRelogio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vDisciplina.qtdTeorica" class="control-label"></label>
                <input asp-for="vDisciplina.qtdTeorica" class="form-control" />
                <span asp-validation-for="vDisciplina.qtdTeorica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vDisciplina.qtdPratica" class="control-label"></label>
                <input asp-for="vDisciplina.qtdPratica" class="form-control" />
                <span asp-validation-for="vDisciplina.qtdPratica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vDisciplina.Ementa" class="control-label"></label>
                <input asp-for="vDisciplina.Ementa" class="form-control" />
                <span asp-validation-for="vDisciplina.Ementa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
